:root {
  --white: rgb(252, 250, 250);
  --dark-blue: rgba(1, 20, 31, 255);
  --sunset-orange: rgba(206, 112, 25, 255);
}

main {
  display: flex;
  flex-direction: row;
  height: 100vh;
  font-family: 'Lato', sans-serif;
}

/* Search Side */
#search_side {
  text-align: center;
  background-color: var(--dark-blue);
  width: 30%;
}

h1 {
  color: var(--white);
  margin-top: 55px;
  font-weight: bold 700;
}

#search_input {
  color: var(--sunset-orange);
  font-weight: bold;
  padding: 7px;
}

#search_btn {
  padding: 7px;
  background-color: var(--sunset-orange);
}

.city_search_history_btn {
  color: var(--sunset-orange);
  padding: 1.5% 10% 1.5% 10%;
  margin: 10%;

}

/* Display Weather Results Side */
#display_side {
  display: flex;
  flex-direction: column;
  width: 70%;
  background-color: var(--dark-blue);
  /*background-image: url('https://source.unsplash.com/1600x900/?sky');*/
  height: 100vh;
  background-image: url('https://source.unsplash.com/hgGplX3PFBg');
  background-size: 100% 100vh;
  background-repeat: repeat-y;
  background-position: 50%;

}

h2 {
  padding: 0px;
  font-size: 1.2em;
}

/*Current Weather Div */
#weather_results {
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 45px;
}

/*Current Weather Card*/
#weather_card {
  color: white;
  background: var(--dark-blue);
  width: fit-content;
  padding: 22px;
  border-radius: 10%;
}

/* Forecast Card Div */
#future_forecast {
  display: flex;
  justify-content: space-around;
  margin-top: 45px;
}

/* Forecast Cards */
.forecast_card {
  color: white;
  background: var(--dark-blue);
  /* background: #000000d0; */
  height: fit-content;
  width: fit-content;
  padding: 1%;
  margin: 0;
  border-radius: 10%;
}

/* UV Index Colors */
.favorable {
  text-decoration: underline;
  text-decoration-color: green;
}

.moderate {
  text-decoration: underline;
  text-decoration-color: yellow;
}

.severe {
  text-decoration: underline;
  text-decoration-color: red;
}

/* Responsiveness */

/* Phones and smaller  */

@media only screen and (max-width: 600px) {

  main,
  #search_side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #search_side {
    width: 100vh;
  }

  #display_side {
    width: 100vh;
  }
}

@media screen and (max-width: 997px) {
  #future_forecast {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}